<div class="appointment">
	<div class="as-d-flex as-flex-direction-column">
		<p class="as-text-primary-accent">{{ from }}</p>
		<p class="as-text-body">{{ to }}</p>
	</div>

	<div class="{{ this.markerClass }}"></div>

	<div>
        {% if type == 'booked' %}
            <p class="as-text-body">{{ title }}</p>
		    <p class="as-text-body-strong">{{ name }}</p>
        {% endif %}
    </div>

	<div class="as-d-flex as-gap-2">
		<button
			{{ live_action('viewAppointment', { id: id } ) }}
			type="button"
			class="as-cursor-pointer as-d-flex as-align-items-center as-justify-content-center as-w-7 as-h-7 rounded-full as-border-none as-bg-ascella-blue hover:as-bg-accent-cyan"
		>
			<img src="{{ asset('ascella/images/three-dots.svg') }}" alt="View"/>
		</button>
		<button
			{{ live_action('openDeleteAppointmentModal', { id: id } ) }}
			type="button"
			class="as-cursor-pointer as-d-flex as-align-items-center as-justify-content-center as-w-7 as-h-7 rounded-full as-border-none as-bg-error hover:as-bg-error"
		>
			<img src="{{ asset('ascella/images/cross.svg') }}" alt="Delete"/>
		</button>
	</div>
</div>
