<button
	type="{{ type }}"
	class="{{ btnClass }}"
	{% if action != '' %}
		data-action="{{ action }}"
	{% endif %}
	{% if actionParam != '' %}
    	data-live-action-param="{{ actionParam }}"
	{% endif %}
	{% if liveAction != '' %}
    	{{ live_action(liveAction) }}
	{% endif %}
>
	{% block content %}{% endblock %}
</button>