<div class="as-d-flex as-flex-direction-column as-gap-1">
	<label for="{{ id }}" class="as-text-body">{{ label }}</label>
	<input id="{{ id }}" name="{{ id }}" class="as-input as-h-9 rounded-4" type="{{ type }}" placeholder="{{ placeholder }}"/>
</div>
